  <div class="image-banner">
  <img src="/images/sound_purpose_2.png" alt="Banner Image" />
  </div>

<!-- Player and other content -->
  <!-- player -->
  <div class="player">
    <!-- Displaying details -->
    <div class="details">
      <div class="track-art"></div>
      <div class="track-name">Track Name</div>
      <div class="track-artist">Track Artist</div>
    </div>

    <!-- Displaying track buttons -->
    <div class="buttons">
      <div class="prev-track" onclick="prevTrack()">
        <i class="fa fa-step-backward fa-2x"></i>
      </div>
      <div class="playpause-track" onclick="playpauseTrack()">
        <i class="fa fa-play-circle fa-5x"></i>
      </div>
      <div class="next-track" onclick="nextTrack()">
        <i class="fa fa-step-forward fa-2x"></i>
      </div>
    </div>

    <!-- Seek slider -->
    <div class="slider_container">
      <div class="current-time">00:00</div>
      <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
      <div class="total-duration">00:00</div>
    </div>

    <!-- Volume slider -->
    <div class="slider_container">
      <i class="fa fa-volume-down"></i>
      <input type="range" min="1" max="100" value="99" class="volume_slider" onchange="setVolume()">
      <i class="fa fa-volume-up"></i>
    </div>
  </div>

  <!-- "Browse by Vibe" Section -->
  <div class="browse-by-vibe">
    <h2>Browse by tag</h2>
    <div class="vibe-container">
      <div class="vibe-box" id="vibe-ambient">
        <span class="vibe-name">Ambient</span>
      <img src="images/ambient.png" alt="ambient">
      
    </div>
      <div class="vibe-box" id="vibe-instrumental">
        <span class="vibe-name">instrumental</span>
      <img src="images/instrumental.png" alt="instrumental">
    </div>
      
      <div class="vibe-box" id="vibe-music">
        <span class="vibe-name">music</span>
      <img src="images/music.png" alt="music">
    </div>
      
      <div class="vibe-box" id="vibe-narration">
        <span class="vibe-name">narration</span>
      <img src="images/narration.png" alt="narration">
    </div>
        
      <div class="vibe-box" id="vibe-nature">
        <span class="vibe-name">nature</span>
      <img src="images/nature.png" alt="nature">
    </div>
       
      <div class="vibe-box" id="vibe-noise">
        <span class="vibe-name">noise</span>
      <img src="images/noise.png" alt="noise">
    </div>
       
      <div class="vibe-box" id="vibe-podcast">
        <span class="vibe-name">podcast</span>
      <img src="images/podcast.png" alt="podcast">
    </div>
       
      <div class="vibe-box" id="vibe-sound effects">
        <span class="vibe-name">sound effects</span>
      <img src="images/sound effects.png" alt="sound effects">
    </div>
     
      <div class="vibe-box" id="vibe-speech">
        <span class="vibe-name">speech</span>
      <img src="images/speech.png" alt="speech">
    </div>
     
      <div class="vibe-box" id="vibe-vocals">
        <span class="vibe-name">vocals</span>
      <img src="images/vocals.png" alt="vocals">
    </div>
  </div>