  <link rel="stylesheet" href="/css/login.css">

  <input type="radio" checked id="toggle--login" name="toggle" class="ghost" />
  <input type="radio" id="toggle--signup" name="toggle" class="ghost" />


  <form class="form login-form framed">
    <input type="email" placeholder="Email" class="input input--top" id="email-login"/>
    <input type="password" placeholder="Password" class="input" id="password-login" />
    <input type="submit" value="Log in" class="input input--submit" />
    
    <label for="toggle--signup" class="text text--small text--centered">New? <b>Sign up</b></label>
  </form>

  <form class="form signup-form form--signup framed">
    <input type="name" placeholder="Username" class="input" id="name-signup"/>
    <input type="email" placeholder="Email" class="input input--top" id="email-signup"/>
    <input type="password" placeholder="Password" class="input" id="password-signup"/>
    <input type="submit" value="Sign up" class="input input--submit" />
    
    <label for="toggle--login" class="text text--small text--centered">Not new? <b>Log in</b></label>
  </form>

<script src="./js/login.js"></script>
