<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   <nav>
        <a href="/">Home</a> |
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
         <a>logout</a>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
<div class="row-md-4">
    <header class="justify-space-between">
    <h1>Hello, <br> {{name}}! </br></h1>
  </div>
</div>

  <h3>My Audio Files:</h3>
  <div class="form-group">
    <div class="flex-column container container fluid mt-5">
      <p>{{audio.audiofiles}}</p>
      </div>
  </div>

  <h3>My Save Audio Files:</h3>
  <div class="form-group">
    <div class="flex-column container container fluid mt-5">
      <p>add user's saved audiofiles here</p>  
      </div>
  </div>
{{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>
