body, html {
  height: 100%;
  margin: 0;
}

/* Additional styling for the navbar for better aesthetics */
.navbar {
  background-color: #f8f9fa; /* Light grey, you can change this */
  box-shadow: 0 4px 6px rgba(0,0,0,.1);
}

.nav-link {
  margin-right: 10px; /* Space between nav items */
}

.form-control {
  min-width: 250px; /* Minimum width of the search bar */
}

/* Adjusting form in the navbar to center the search bar */
@media (min-width: 992px) { /* Adjusting for large devices */
  .navbar .container-fluid {
    display: flex;
    justify-content: space-between; 
  }
  .navbar-collapse {
    flex-grow: 0;
  }
}

.image-banner {
  background-size: cover; /* Cover the entire banner area */
  background-position: center; /* Center the image */
  text-align: center; /* Center the text inside the banner */
  padding: 1%; /* Top and bottom padding */
  width: 100%; /* Banner width to cover the full container width */
  position: relative; /* Relative positioning to keep flow in document */
}


.player {
  height: auto;
  width: 80%; /* Adjust the width to your preference */
  max-width: 600px; /* Maximum width of the player */
  margin: 5% auto 20px auto; /* Top margin and auto for horizontal centering */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: background-color 0.5s;
}

/* Ensure that the player is not too small on very large screens */
@media (min-width: 1200px) {
  .player {
    width: 50%; /* Adjust the percentage as needed */
  }
}

/* Adjust for medium screens */
@media (max-width: 992px) {
  .player {
    width: 90%;
  }
}

/* Adjust for small screens */
@media (max-width: 768px) {
  .player {
    width: 95%;
  }
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-image: URL("https://source.unsplash.com/Qrspubmx6kE/640x360");
  background-size: cover;
  background-position: center;
  border-radius: 15%;
}

/* Changing the font sizes to suitable ones */
/* consider media query for the follow items */
.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 3rem;
}

.track-artist {
  font-size: 1.5rem;
}

/* Using flex with the row direction to
align items in a horizontal direction */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
  color: rgba(40, 40, 40, 0.662);
}

/* Define the slider width so that it scales properly */
.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 2.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

/* Change the mouse cursor to a pointer
when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

footer.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.1);
  box-shadow: 0px -4px 6px rgba(0,0,0,.1);
}

.browse-by-vibe {
  text-align: center;
  padding: 100px 0;
  margin-top: 50px;
}

.browse-by-vibe h2 {
  margin-bottom: 20px;
}

.vibe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: calc((150px * 4) + (10px * 3));
  margin: auto;
}

.vibe-box {
  position: relative; /* Set position to relative for positioning vibe-name */
  flex: 0 1 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 10px;
  overflow: hidden; /* Ensure no overflow from the box */
}

.vibe-box img {
  width: 100%;
  height: auto; /* Adjust the height to maintain aspect ratio */
}

.vibe-name {
  position: absolute;
  top: 0; /* Position it at the top of the .vibe-box */
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 14px; /* Adjust font size as necessary */
 
}

footer .container-fluid {
  display: flex;
  justify-content: space-between; 
  z-index: 1;
}

